{{ define "content" }}
    <input id="encrypted" type="hidden" value="{{ . }}"/>
    <div id="inputs">
        <br/>
        <div class="centered">
            <a href="/">Return</a>
        </div>
    </div>
{{ end }}