{{ define "content" }}
    <input id="encrypted" type="hidden" value="{{ . }}"/>
    <div id="inputs">
        <br/>
        <textarea id="data" class="form-control" rows="15"></textarea>
        <div class="centered">
            <a href="/">Return</a>
        </div>
    </div>
{{ end }}

{{ define "script" }}
{{ end }}