{{ define "content" }}
    <div class="centered">
        <p class="info-only">The message you requested has timed out, been viewed, or never existed</p>
        <a href="/">Return</a>
    </div>
{{ end }}
{{ define "script" }}
{{ end }}