html {
    height: 100%;
}

.container {
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
}

.wrapout {
    padding-bottom: 60px;
}

.wrapin {
    min-height: 100%;
    margin-bottom: -60px;
    width: 100%;
}

body {
    background-color: #EEEEEE;
    padding-top: 15px;
    height: 100%;
}

.centered {
    white-space: pre-line;
    word-wrap: break-word;
    text-align: center;;
}

img {
    margin-top: 20px;
}

.git {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-right: 20px;
    text-align: right;
}

.git small {
    position: relative;
    top: 12px;
    left: -10px;
    color: grey;
}

textarea {
    resize: vertical;
}

.info-only {
    user-select: none;
    color: #888888;
}

.tool {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -55%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool .tooltiptext::after {
    content: "";
    position: absolute;
    top: 36%;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent #555;
}

.tool:hover .tooltiptext {
    visibility: visible;
    opacity: .9;
}
